@using ModerationPlugin.Client.Services

@inject ModerationService ModerationService

<div class="flex justify-center items-center md:h-screen">
    <div class="w-full flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://gamecp.masuowo.xyz/api/core/asset/Core/svg/logo.svg" alt="Moonlight logo">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Your account has been banned</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="p-5 rounded-lg bg-red-500">
                @{
                    var ban = ModerationService.BanDetails!;
                    var daysLeft = Math.Round((ban.CreatedAt.AddDays(ban.DurationDays) - DateTime.UtcNow).TotalDays);
                }
                
                <div>
                    <b>Reason:</b> @ban.Reason
                </div>
                <div>
                    <b>Duration:</b> @ban.DurationDays days
                </div>
                <div>
                    <b>Expires:</b> in @daysLeft days
                </div>
            </div>
        </div>
    </div>
</div>